
.icon-temperature:before { content: '\e800'; } /* '' */
.icon-compass:before { content: '\e801'; } /* '' */
.icon-wind:before { content: '\e802'; } /* '' */
.icon-sunrise:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-water:before { content: '\e805'; } /* '' */